@import "/src/styles.scss";

footer {
    display: flex;
    .footer {
        position: fixed;
        width: 100%;
        padding: 18px 0;
        bottom: 0;
        display: flex;
        align-items: center;		
	    justify-content: center;
        background-color: $orange;
        clear: both;
        overflow: hidden;
        border-top: 1.6px solid $orange-dark;
        -webkit-box-shadow: 0px 0px 12px 3px $orange-light;
        -moz-box-shadow: 0px 0px 12px 3px $orange-light;
        box-shadow: 0px 0px 12px 3px $orange-light;

        .copyright {
            position: relative;           
            overflow: hidden;
            font-size: 0.850rem;
            font-weight: 300;
            display: block;
            text-align: center;
        }

        a{
            text-decoration: none;
            color:$black;

            &:hover{
                color:$white;
            }
        }
        
    }
}


/* Mobile ate 768px */
@media only all and (max-device-width: 768px) {
    footer {
        .footer {
            padding: 15px 0;
            
            .copyright {
                width: 100%;
                font-size: 0.9rem;
            }
        }
    }
}