<div class="dados">
  <section>
      <h4>Games dos Pokémons</h4>
      <table>
        <tr>
          <th class="p-text-center">Nome do Pokémon:</th>
          <th class="p-text-center">Url (Games):</th>
        </tr>
        <tr *ngFor="let dados of versions?.results | paginate: { itemsPerPage: 8, currentPage: paginaAtual }; let i = index">
          <td class="p-text-center p-text-uppercase">{{dados.name}}</td>
          <td class="p-text-center">
            <a href="{{dados.url}}" target="_blank">{{dados.url}}</a>
          </td>
        </tr>
     </table>
     <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
    </section>
</div>