<nav class="p-d-flex">
    <a href="https://github.com/gilberto-ba/Deliverymuch" target="_blank" class="p-mr-0 pi pi-github"><span class="shadow">Github</span></a>
    <a routerLink="versions/" routerLinkActive="active" class="p-mr-0 pi pi-filter"><span class="shadow">Games</span></a>
    <a routerLink="listas/" routerLinkActive="active" class="p-mr-0 pi pi-filter"><span class="shadow">Pokémon</span></a>
    <a routerLink="/home" routerLinkActive="active" class="p-mr-0 pi pi-home"><span class="shadow">Home</span></a>
</nav>
