@import "var.scss";
@import "assets/fonts/fonts.scss";

body {
    font-family: 'DroidSans';
    background-color: $cinza;
    margin:0;
    padding: 0;
}

.dados {
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: block;
    top: 10px;
    padding-bottom: 80px;
    clear: both;
}

h4{
  text-shadow: 2px 2px 1px $white;
}

.shadow{
  text-shadow: 5px 5px 3px $orange-shadow;
}

.zoom{
    -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
        -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
         -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
          -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
             transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  
    &:hover{
      -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
         -o-transform: scale(1.05);
            transform: scale(1.05);
      opacity:0.60; -moz-opacity:0.60; filter:alpha(opacity=60); -khtml-opacity:.60; -ms-filter:"alpha(opacity=60)";
    }
    
  }

  /* Mobile ate 768px */
@media only all and (max-device-width: 768px) {
  
  .dados {
      width: 95%;
      top: 15px;
  }
  
}