$orange: #ef5350;
$orange-light: #ef53508f;
$orange-hover: #e43b387e;
$orange-shadow: #df7a78;
$orange-dark: #c52b29;
$orange-border: #a52623a6;
$cinza: #ebf5f0;
$cinza-dark: #dde0de;
$cinza-light: #f2f3f3e1;
$black: #000;
$white: #fff;

$urlImages: "../../assets/img";